html, body
{
    height: 100%;
    min-height: 100%;
}

.pig{

	height: auto;
	min-height: 100%;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.abc{
	padding-left: 60%;

}

.bg{
	background-image: url(https://images.unsplash.com/photo-1508598038102-360a6076c871?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0efeaa8b9cb068baf6f0fef4f7f78c65&auto=format&fit=crop&w=1934&q=80);
}

.bg2{
	background-image: url(https://images.unsplash.com/photo-1471286274405-579f8d7132d8?ixlib=rb-0.3.5&s=5fa5c9593265687ced17d6007b403945&auto=format&fit=crop&w=1950&q=80);
}

.bg3{
	background-image: url(https://images.unsplash.com/photo-1517713982677-4b66332f98de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5add0b58e13b226e807f96ca21ec30b4&auto=format&fit=crop&w=1950&q=80);
}

.bg4{
	background-image: url(https://images.unsplash.com/photo-1510936888149-cac5eef86ee2?ixlib=rb-0.3.5&s=b76ec5168011b4d8f60a2509f39fcaf6&auto=format&fit=crop&w=1950&q=80);
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h5{
	min-width:100px; 
	display: inline-block;
	padding: 10px;
	border-top: pink 3px solid;
}
#homepage{
	color: white;
}

#content{
	width: 500px;
	color: black;
	min-width: 300px;
	text-align: left;
}

#center{
	text-align: center;
	padding-top: 300px;
}

#shadow{

	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					0px	8px 13px rgba(0,0,0,0.1),
					0px	18px 23px rgba(0,0,0,0.1)
}

#end{
	margin-top: 20px;
	height: 40px;
	color: black;
	text-align: center;
}

a img{
	height: 250px !important;
	width: 250px;
	margin:20px;
	

}

#projects h1{
	color: red;
}

#contact{
	color: black;
}
#contact img{
	height: 150px !important;
	width: 150px;
	border:1px black solid;
	border-radius: 50%;
	opacity: 0.8;
	margin:20px;
}

#soc li{
	font-size: 240%;
	margin:0px 20px;
}