html, body
{
    height: 100%;
}

.pig{
/*	height: 100%;
	width:100%;
	background-size: cover;
	background-position: center;
	position: static;
	max-height: 800px;*/
	height: 100%;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.border{
	border:4px pink solid;
	height: 100%;
	display: block;
}

.abc{
	padding-left: 60%;

}

.bg{
	background-image: url(https://images.unsplash.com/photo-1522205445560-4630427027e3?ixlib=rb-0.3.5&s=2f72b499b91466cf91d076d104fbffc3&auto=format&fit=crop&w=1950&q=80);
}

.bg2{
	background-color: red;
}

.bg3{
	background-color: green;
}

.bg4{
	background-color: red;
}


#center{
	color: white;
	text-align: center;
	padding: 20%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					0px	8px 13px rgba(0,0,0,0.1),
					0px	18px 23px rgba(0,0,0,0.1)
}